.card {
  background: var(--color-bg-cards-light);
  border-radius: 5px;
  padding: 14px;
  text-decoration: none;
  transition: transform 0.3s ease;
  text-align: start;
  box-shadow: 0 5px 5px var(--shadow-medium);
  width: 350px;
  height: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

.card:hover {
  transform: translateY(-5px);
}

.image {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  filter: brightness(0) saturate(100%) invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(119%);
}

.cardTitle {
  font-family: var(--font-roboto);
  font-size: 20px;
  font-weight: 600;
  color: var(--color-text-dark);
}

.cardContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cardDescription {
  font-family: var(--font-roboto);
  font-size: 14px;
  color: var(--color-text-dark);
}

@media (max-width: 768px) {
  .card {
    padding: 16px;
    gap: 12px;
    height: 100px;
  }

  .image {
    width: 50px;
    height: 50px;
  }

  .cardTitle {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .card {
    padding: 12px;
    gap: 10px;
    height: 90px;
  }

  .image {
    width: 45px;
    height: 45px;
  }

  .cardTitle {
    font-size: 14px;
  }
} 