.hero {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  padding-top: 96px; /* Компенсация высоты Header */
}

.container {
  position: relative;
  z-index: 2;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.background {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.background img {
  object-fit: cover;
  object-position: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.textAppear {
  animation: textAppear 1s ease-out 1s forwards;
} 

@keyframes textAppear {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.content {
  position: relative;
  z-index: 10;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 0;
}

.title {
  font-size: 3.75rem;
  font-weight: 400;
  margin-bottom: 2rem;
  line-height: 1.2;
  text-align: center;
  font-family: var(--font-pt-sans);
  width: 100%;
  box-sizing: border-box;
  color: var(--color-white);
}

.title span {
  display: inline-block;
  opacity: 0;
  transform: translateY(1.25rem);
}

@keyframes cloudPulse {
  0% {
    transform: translateX(-50%) scale(1);
    opacity: 0.2;
  }
  50% {
    transform: translateX(-50%) scale(1.2);
    opacity: 0.4;
  }
  100% {
    transform: translateX(-50%) scale(1);
    opacity: 0.2;
  }
}

.subtitle {
  font-size: 24px;
  font-family: var(--font-roboto);
  color: var(--color-gray);
  margin-bottom: 40px;
  width: 100%;
  box-sizing: border-box;
}

.buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  width: 50%;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .hero {
    /* padding-top: 80px; */
    padding-bottom: 40px;
    align-items: flex-start;
    padding-top: 100px;
  }

  .title {
    font-size: 2.5rem;
    padding: 0 1rem;
  }

  .subtitle {
    font-size: 18px;
    padding: 0 1rem;
  }

  .container {
    padding: 0 1rem;
  }

  .background {
    position: absolute;
    inset: 0;
    z-index: 0;
  }

  .background img {
    object-fit: cover;
    object-position: center;
  }

  .buttons {
    gap: 0.75rem;
    display: none;
  }

  .content {
    justify-content: flex-start;
    margin-top: 0;
  }
}

@media (max-width: 576px) {
  .hero {
    padding-top: 100px;
    align-items: flex-start;
  }

  .background {
    position: absolute;
    inset: 0;
    z-index: 0;
  }

  .background img {
    object-fit: cover;
    object-position: center;
  }

  .buttons {
    gap: 0.5rem;
    display: none;
  }

  .content {
    margin-top: 0;
  }

  .title {
    font-size: 2rem;
    margin-left: 2rem;
  }
} 