@font-face {
    font-family: 'Eurostile';
    src: url('Eurostile-Bold.woff2') format('woff2'),
         url('Eurostile-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
} 